.headerSecao{
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: 100%;
}

.iconSoc{
    color: rgb(77,164,255);
    padding-left:5%;
    padding-right: 5%;
    font-size: 40px;
}

.projetosslider{
    height: 50%;
    width: 50%;
    margin: 0 auto;
    border-radius: 1em;
}

