body{   
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #0f3460;
}



#league{
    position: relative;
    width: 100%;
    height: 100%;
}
.container-fluid{
    padding: 0;
}

@media screen and (min-width: 1024px) {

#league{
    width: 50%;
}
.navbar-brand{
    padding: 1%;
}
}

